<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>

<body>
   
      <form action = "http://localhost:5000/result" method = "POST">
         <p>Company Name: <input type = "text" name = "Company_name" />
      	<h1> Cargo Description </h1>
         <!--
         Drop down menu for container type. 
         -->	
         <select class="form-control" id="Container_type" name="Container_type">
             <option value="Container Type">Container Type</option>
             <option value="Dry storage container">Dry storage container</option>
             <option value="Flat rack container">Flat rack container</option>
             <option value="Tunnel container">Tunnel container</option>
             <option value="nsulated or thermal containers">nsulated or thermal containers</option>
             <option value="Refrigerated ISO containers">Refrigerated ISO containers</option>
         </select>

  

         <p>Quantity <input type = "text" name = "Quantity" />
         Invoice_Price($) <input type = "text" name = "Price" /></p>

         <p>Cargo ready from: <input type="text" id="datepicker">
         Cargo ready to: <input type="text" id="datepicker1"></p>   

         <h1>Pickup</h1>

         <select class="form-control" id="pickup_Country" name="pickup_Country">
             <option value="China">China</option>
             <option value="India">India</option>
             <option value="Mexico">Mexico</option>
             <option value="Japan">Japan</option>
             <option value="Spain">Spain</option>
             <option value="Korea">Korea</option>
         </select>
         <select class="form-control" id="pickup_Port" name="pickup_Port">
             <option value="Yangzhou">Yangzhou</option>
             <option value="Jiujiang">Jiujiang</option>
             <option value="Nanjing">Nanjing</option>
             <option value="Haikou">Haikou</option>
             <option value="Huangpu">Huangpu</option>
         </select>
   

         <h1>Destination</h1>  
         <select class="form-control" id="destination_Country" name="destination_Country">
             <option value="China">China</option>
             <option value="India">India</option>
             <option value="Mexico">Mexico</option>
             <option value="Japan">Japan</option>
             <option value="Spain">Spain</option>
             <option value="Korea">Korea</option>
         </select>
         <select class="form-control" id="destination_Port" name="destination_Port">
             <option value="Yangzhou">Yangzhou</option>
             <option value="Jiujiang">Jiujiang</option>
             <option value="Nanjing">Nanjing</option>
             <option value="Haikou">Haikou</option>
             <option value="Huangpu">Huangpu</option>
         </select>
   
       
         <p><input type = "submit" value = "submit" /></p>
      </form>
      
</body>

</html>